body{
    background-color: aquamarine;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#Wrapper{
    background-color: aqua;
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


