body{
    background-color: aquamarine;
    font-family: 'Arial', sans-serif;
}




#grid1{
    display: grid;
    grid-template-columns: 50px 50px 50px
}
#author_img{
    width: 25px;
    height: 25px;
}

#grid2{
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px 20px;
    grid-template-rows: 40px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
}

#item4{/*nazev*/ 
    grid-column: 1 / 12;  
    grid-row: 1 / 2;   
}

#item5{/*img*/ 
    grid-column: 1 / 3;  
    grid-row: 2 / 3;   
}

#item6{/*rezie*/ 
    grid-column: 7 / 12;  
    grid-row: 2/ 3;   
}

#item7{/*zanr*/ 
    grid-column: 7 / 12;  
    grid-row: 3 / 4;   
}
#item8{/*hodnoceni*/ 
    grid-column:7/ 12;  
    grid-row: 4 / 5;   
}
#item9{/*rok*/ 
    grid-column: 7 / 12;    
    grid-row: 5 / 6;   
}
#item10{/*popis*/ 
    grid-column: 1 / 8;  
    grid-row: 8 /8;   
}
