<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1 id="PETR CIRUS"> My new page </h1>
        <hr>
        <div> 

        <label for= "input">Nazev</label>
        <input id= "input" type="text"> 
        </div>

        <button id="button">Get Movie</button>
        <div>
            <span id="movie"> Place holder</span>
        </div>

        <hr>

 
        <form>
        <label for= "input2">Nazev</label>
        <input id= "input2" type="text"> 


        <button id="button2">Create movie</button>
        </form>
        
        <br> 

        <form>
        <label for= "input5">Movie name</label>
        <input id= "input5" type="text"> 

        <button id="button5">Delete</button>
        </form>
        <br>

        <form>
        <label for= "movie_list"> Seznam vytvorenych filmu </label>
        <ul id="movie_list">
        </ul>
        </form>


 
        <script>
            let button = document.getElementById("button");
            button.addEventListener("click", function(){
             
                let val = document.getElementById("input").value;
           
                fetch('/movie/' + val)
                .then(response => response.json())  
                .then(data => {
                    
                    document.getElementById("movie").textContent = data.movie;
                    console.log(data.movie);
                })
                .catch(error => {
                    console.error(error);
                });
                
            });
            
            let button2 = document.getElementById("button2");
            button2.addEventListener("click", function () {
                let val2 = document.getElementById("input2").value;
                if (val2) {
                    fetch(`/go`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(val2),
                    })
                    .then(response => response.json())
                    .then(data => {
                    })
                    .catch(error => {
                        console.error(error);
                    });
                }
            });

                        
            let button5 = document.getElementById("button5");
            button5.addEventListener("click", function () {
                console.log(`button5 clicked`);
                let value = document.getElementById("input5").value;
                console.log(value)
                if (value) {
                    fetch(`/del_movie`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify( {"Name" : value}),
                    })
                    .then(response => response.json())
                    .then(data => {
                    })
                    .catch(error => {
                        console.error(error);
                    });
                }

                fetchAndDisplayMovieList();
            });

            var ul = document.getElementById("movie_list");
            function fetchAndDisplayMovieList() {
                fetch('/movies')
                    .then(response => response.json())  
                    .then(data => {
                        const movieList = data.list;
            
                        while (ul.firstChild) {
                           ul.removeChild(ul.firstChild);
                        }
                        for (let key in movieList) {
                            if (movieList.hasOwnProperty(key)) {
                                var listItem = document.createElement("li");
                                const movieName = movieList[key];
                                listItem.textContent = movieName;
                                listItem.id =  movieName;
                                listItem.atribute = true;
                                ul.appendChild(listItem);
                                console.log(`Key: ${key}, Value: ${movieName}`);
                            }
                        }
                    })
                    .catch(error => {
                        console.error(error);
                    });
            }
            window.addEventListener('load', fetchAndDisplayMovieList);


            ul.addEventListener('click',function(event) {
                if (event.target.tagName == 'LI'){

                    if (event.target.atribute === true){
                        event.target.atribute = !event.target.atribute;
                        event.target.style.boxShadow = '0 0 5px rgba(0, 0, 0, 0.3)';
                    }
                    else{
                        event.target.atribute = !event.target.atribute;
                        event.target.style.boxShadow = 'none'
                    }
                }
            });


           
        </script>
    </body>
</html>