<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='movie_template_styles.css') }}">
    <title>Movie</title>

</head>
<body>

    <div id="add_review">
        <div id="add_review_item1"><h2>Adding review</h2></div>
        <div id="add_review_item2"><textarea rows="12" cols="24" id="review_text"></textarea></div>
        <div id="add_review_item3"><button id='submit_review'>Submit</button></div>
        <div id="add_review_item3a5"><button id='delete_review' onclick="Delete_review()">Delete</button></div>
        <div id="add_review_item4"><button id='cancel_adding_review' onclick="Cancel_adding()">Cancel</button></div>
        <div id="add_review_item51">Hodnoceni</div>
        <div id="add_review_item52"><input type="range" id="slider" min="0" max="100" value="0" step="1" onchange="hodnoceniSlider()"></div>
        <div id="add_review_item5"></div>

    </div>

    <div id='wrapper_main'>
        <div id='wrapper'>
            <div id="grid1">
                <div id="item1"></div>
                <div id="item2"><img id="author_img"></div>
                <div id="item3"></div>
            </div>
            <br>
            <div id="grid2">
                <div id="item4"></div>
                <div id="item5"><img id="movie_img"></div>
                <div id="item6"> </div>
                <div id="item7"> </div>
                <div id="item8"></div>
                <div id="item9"></div>
                <div id="item92">Description:</div>
                <div id="item10"></div>
                <div id="item11"><button id='review_button'>Review</button></div>
                <div id="item12"><button onclick="Redirect()">Back</button></div>
            </div>
        </div>
        <br>
        <div id='review_wrapper'>
            <div id='review'></div>
        </div>
    </div>

    <div id="wrapper_show_review_wrapper"><div id="show_review_wrapper"></div></div>




    <div id='modal'></div>
</body>

</html>

<script>
    /* Get Movie ID */
    let urlParts = window.location.pathname.split('/');
    let id = urlParts[urlParts.length - 1];
    
    /* Handle adding reviews*/
    const review_text = document.getElementById('review_text');
    const slider = document.getElementById('slider');
    async function fillTheWithOldReview(id){
        try{
            let response = await fetch(`/movie_template_info/${id}`,{
                method: "PUT",
                headers: {'Content-type' : 'application/json'}, 
            })
            if (response.ok){
                let data = await response.json();
                console.log(`data = ${data.data}`)
                if(data.data != '404' && data.data != 'error'){
                    review_text.innerText = data.data;
                    slider.value = data.rating
                    label_slider.innerText = `Hodnoceni ${data.rating}`;
                }
            }
        }catch(error){
            console.log(`Error ${error}`);
        }
    }


    const result_message = document.getElementById('add_review_item5');
    async function fillTheWithNewReview(id, content){
        try{
            let response = await fetch(`/movie_template_info/${id}`,{
                method: "POST",
                headers: {'Content-type' : 'application/json'}, 
                body: JSON.stringify({"data" : content, 'rating' : slider.value})
            })
            if (response.ok){
                let data = await response.json();
                if (data == '201'){
                    result_message.innerText = 'Succes'
                    setTimeout( function(){
                                location.reload();
                            }, 500);
                }else{
                    result_message.innerText = 'Error'
                }
            }
        }catch(error){
            console.log(`Error ${error}`);
        }
    }


    const modal = document.getElementById('modal');
    const review_button = document.getElementById('review_button');
    const add_review= document.getElementById('add_review');
    const wrapper_main = document.getElementById('wrapper_main');
    modal.style.visibility = 'hidden';
    add_review.style.visibility = 'hidden';
    review_button.addEventListener('click', ()=>{
        if (modal.style.visibility == 'hidden'){
            modal.style.visibility ='visible';
            add_review.style.visibility = 'visible';
            fillTheWithOldReview(id)
            
        }else{
            modal.style.visibility = 'hidden';
            add_review.style.visibility = 'hidden';
        }
    })

    function Cancel_adding(){
        modal.style.visibility = 'hidden';
        add_review.style.visibility = 'hidden';
    }

    const submit_review =  document.getElementById('submit_review');
    submit_review.addEventListener('click',()=>{
        let content = review_text.value;
        console.log(`content to send ${content} with id ${id}`)
        if (content.length != 0){
            fillTheWithNewReview(id, content);
        }else{
            result_message.innerText = 'Empty input'
        }
            
    })

    
    const label_slider = document.getElementById('add_review_item51');
    function hodnoceniSlider(){
        label_slider.innerText = `Hodnoceni ${slider.value}`;
        
    }
        
    const delete_review = document.getElementById('delete_review');

    async function Delete_review(){
        let response = await fetch(`/movie_template_info/${id}`,{
            method: "DELETE", 
            headers: {'Content-type' : 'application/json'}, 
        })

        let data = await response.json();
                if (data == '201'){
                    result_message.innerText = 'Succes Delete';
                    setTimeout( function(){
                                location.reload();
                            }, 500);

                }else if( data =='404'){
                    result_message.innerText = 'No data';
                }
    }



    /* Get info for the movie */
    window.addEventListener('load', movie(id));


    async function movie(id){
        try{
            let response = await fetch(`/movie_template_info/${id}`,{
                method: "GET",
                headers: {'Content-type' : 'application/json'}, 
            })
            if (response.ok){
            let data = await response.json();
            console.log(data.message);
            fillTheGrid1(data.message)
            fillTheGrid2(data.message)
            fillTheGrid3(data.message)
            }
        }catch(error){
            console.log(`Error ${error}`);
        }
    }

    function fillTheGrid1(data){
        document.getElementById("item1").innerText = "author:";
        document.getElementById("author_img").src = "{{ url_for('static', filename='images/', _external=True) }}" + data['creator_img'];
        document.getElementById("item3").innerText = data['creator_name'];
    }


    function fillTheGrid2(data){
        document.getElementById("item4").innerText =  'Nazev: ' +data['movieName'];
        if (data['rating'] === null){
            document.getElementById("item8").innerText = 'Rating ?' 
        }else{
            document.getElementById("item8").innerText = 'Rating: ' +data['rating']
        }
        document.getElementById("movie_img").src = "{{ url_for('static', filename='movie_images/', _external=True) }}" + data['movie_img'];
        document.getElementById("item9").innerText =  'Rok Vydani: ' +data['year'];
        document.getElementById("item10").innerText = data['description'];
        document.getElementById("item6").innerText = 'Direction: ' +data['direction'];
        document.getElementById("item7").innerText = 'Genre: '+data['genre'];
    }
    function fillTheGrid3(data) {
        const main_wrap= document.getElementById("show_review_wrapper")
        if (data['reviews'] != null){
            for (const review of data['reviews']) {
                console.log(review['content']);
                console.log(review['author']);
                console.log(review['img']);
                console.log(review['rated']);
                

                const wrapper = document.createElement('div')
                wrapper.className = "show_review_grid1"

                const author = document.createElement('div')
                author.className = 'show_review_item1' 
                author.innerText = "Author: "

                const img_div = document.createElement('div')
                img_div.className = 'show_review_item2' 
                const img = document.createElement('img')
                img.src = `../static/images/${review['img']}`
                img.className = 'review_id_img'
                img_div.appendChild(img)

                const name = document.createElement('div')
                name.className = 'show_review_item3' 
                name.innerText = review['author']

                const rating = document.createElement('div')
                rating.className = 'show_review_item4' 
                rating.innerText = "Rated: " + review['rated']

                const comment = document.createElement('div')
                comment.className = 'show_review_item5' 
                comment.innerText = review['content']

                wrapper.appendChild(author)
                wrapper.appendChild(img_div)
                wrapper.appendChild(name)
                wrapper.appendChild(rating)
                wrapper.appendChild(comment)
                main_wrap.appendChild(wrapper)
       

            }
        }
    }


    function Redirect(){
        window.location.href ='/movie';
    }

</script>