<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='movies.css') }}">


</head>
<body>
    <div id="container">

        <div id="main-item1">
            <div id="user_panel">
                <div><img id= "avatar" alt="User_Photo"></div>
                <div><button id="log_out">Log out</button></div>
                <div><button id="settings"></button></div>
                <div><button id="addMovie"></button></div>
            </div>
            <div id="settings_panel">
                <div class="grid-item"id="grid-item-1">Email: </div>
                <div class="grid-item"id="grid-item-2">{{user_data.email}}</div>
                <div class="grid-item"id="grid-item-3"><button id="grid_button1" >Change</button></div>
                <div class="grid-item"id="grid-item-4">Nick: </div>
                <div class="grid-item"id="grid-item-5">{{user_data.username}}</div>
                <div class="grid-item"id="grid-item-6"><button id="grid_button2" >Change</button></div>
                <div class="grid-item"id="grid-item-7">Photo: </div>
                <div class="grid-item"id="grid-item-8"><button id="grid_button3" >Change</button></div>
                <div class="grid-item"id="grid-item-9"></div>
                <div class="grid-item"id="grid-item-10">Password: </div>
                <div class="grid-item"id="grid-item-11"><button id="grid_button4" >Change password</button></div>
            </div>
            <div id="modal"></div>
            <div id= "change">
                <div id="change_grid">
                    <div class="grid-item1"><label for="new_email" id="new_email_id">Insert new email</label></div>
                    <div class="grid-item1"><input id="new_email" type="email"></div>
                    <div class="grid-item1"><button id="Submit_new_email">Submit</button></div>
                    <div class="grid-item1"><button id="Cancel_change1">Cancel</button></div>
                </div>
            
                <div>
                    <p id="Email_Result"></p>
                </div>
            </div>
            <div id= "change2">
                <div id="change_grid">
                    <div class="grid-item1"><label for="new_nick" id="new_nick_id">Insert new Nick</label></div>
                    <div class="grid-item1"><input id="new_nick"></div>
                    <div class="grid-item1"><button id="Submit_new_nick">Submit</button></div>
                    <div class="grid-item1"><button id="Cancel_change2">Cancel</button></div>
                </div>
            
            </div>
            <div id= "change3">
                <form id="uploadForm" enctype="multipart/form-data">
                <div class="grid-item1"><label for= "fileInput">Upload file</label></div>
                    <div class="grid-item1"><input type=file id="fileInput"></div>
                    <div class="grid-item1"><button id="Cancel_change3">Cancel</button></div>
                    <div class="grid-item1"><button id="Submit_photo">Submit</button></div>
                </form>
                    <div class="grid-item1"><button id="Uploaded_photo">Show Uploaded</button></div>

                <div>
                    <p id="Photo_Result"></p>
                </div>
            </div>
            <div id= "change4">
                <div id="change_grid">
                    <div class="grid-item1"><label for="old_password" id="new_nick_id">Old password</label></div>
                    <div class="grid-item1"><input id="old_password"></div>

                    <div class="grid-item1"><label for="new_password" id="new_password_id">New password</label></div>
                    <div class="grid-item1"><input id="new_password"></div>

                    <div class="grid-item1"><label for="confirm_password" id="confirm_password_id">Confirm password</label></div>
                    <div class="grid-item1"><input id="confirm_password"></div>
                </div>
            
                <div id="change_grid4_add">
                    <button id="Submit_new_password">Submit</button>
                    <button id="Cancel_change4">Cancel</button>
                </div>
                <div><p id="password_Result"></p> </div>
            </div>
            <div id="showImages">
                <div><button id="show_images_close">Exit</button></div>
                <br>
                <div id="showImages_grid">
                
                </div>
            </div>
            <div id="addMovie_panel">
                <div id="addMovie_grid">
                    <div><label for="movie_name">Movie Name: </label></div>
                    <div><input id="movie_name"></div>
                    <div><label for="movie_year">Year: </label></div>
                    <div><input id="movie_year"></div>
                    <div><label for="movie_image">Img: </label></div>
                    <div><input type=file id="movie_image"></div>
                    <div><label for="movie_description">Description: </label></div>
                    <div><textarea rows="6" cols="25" id="movie_description"></textarea></div>
                    <div><button id="cancel_addMovie_panel">Cancel</button></div>
                    <div><button id="insert_new_movie">Submit</button></div>
                    <div><span id="adding_movie_error"></span> </div>
                    <button id="show_your_movies_button">Show Created</button>
                </div>
            </div>
        </div>

        <div id='main-item2'>
            
            <div id="show_panel">
                <div id="show_movies"></div>
            </div>
        </div>


        <div id="main-item3">
            <h1>Searching panel</h1>
            <div id="main-item3_wrapper">
                <div id="main-item3_wrapper_item0"><p id="logged_user">Logged user: {{user_data.username}}</p></div>
                <div id="main-item3_wrapper_item1"><label for="search_movie" id="search_movie_label">Search</label></div>
                <div id="main-item3_wrapper_item2"><input id="search_movie"></div>
                <div id="main-item3_wrapper_item3"><button id="search_movie_button"></button></div>
                <div id="main-item3_wrapper_item4"><button id="show_all_movie_button">show All</button></div>
                <div id="main-item3_wrapper_color"></div>
            </div>
        </div> 
    </div>

</body>

<script>


    
        document.addEventListener("DOMContentLoaded", async function() {



            document.getElementById("log_out").addEventListener("click", LogOut);

            async function LogOut(){

                try{
                    let response = await fetch('/log', {method: `PUT`,headers:{'Content-Type': 'application/json'}, body: JSON.stringify({"message" : "logOut"}) });
                    if (response.ok){
                        console.log("response.ok")
                        let data = await response.json();
                        if (data.message == "succes"){
                            window.location.href = "/"
                        }
                    }
                }
                catch(error){
                    console.log(`error occured ${error}`);
                }
            }

            const Settings_panel = document.getElementById("settings_panel")
            Settings_panel.style.visibility = 'hidden';
            document.getElementById("settings").addEventListener("click", ()=>{
                if (Settings_panel.style.visibility === 'hidden'){
                    Settings_panel.style.visibility = 'visible'
                }else{
                    Settings_panel.style.visibility = 'hidden'
                }
                if (MovieAdd_panel.style.visibility == 'visible'){
                        MovieAdd_panel.style.visibility = 'hidden';
                    }
                });

            document.getElementById("grid_button1").addEventListener("click", ()=> dimm('email'));
            document.getElementById("grid_button2").addEventListener("click", ()=> dimm('nick'));
            document.getElementById("grid_button3").addEventListener("click", ()=> dimm('photo'));
            document.getElementById("grid_button4").addEventListener("click", ()=> dimm('password'));


            const Modal = document.getElementById("modal");
            const Change = document.getElementById("change");
            const Change2 = document.getElementById("change2");
            const Change3 = document.getElementById("change3");
            const Change4 = document.getElementById("change4");
            Modal.style.visibility = 'hidden';
            Change.style.visibility = 'hidden';
            Change2.style.visibility = 'hidden';
            Change3.style.visibility = 'hidden';
            Change4.style.visibility = 'hidden';
            function dimm(invoke){
                if ( Modal.style.visibility === 'hidden'){
                    Modal.style.visibility = 'visible';
                    if (invoke == 'email'){
                        Change.style.visibility = 'visible';
                    }else if (invoke =='photo'){
                        Change3.style.visibility = 'visible';
                    }
                    else if(invoke =='password'){
                        Change4.style.visibility = 'visible';
                    }
                    else{
                        Change2.style.visibility = 'visible';
                    }
                    
                }else{
                    Modal.style.visibility = 'hidden';
                    Change.style.visibility = 'hidden';
                    Change2.style.visibility = 'hidden';
                    Change3.style.visibility = 'hidden';
                    Change4.style.visibility = 'hidden';

                }
            }

            document.getElementById("Cancel_change1").addEventListener("click", () => Cancel('cancel1'));
            document.getElementById("Cancel_change2").addEventListener("click", () => Cancel('cancel2'));
            document.getElementById("Cancel_change3").addEventListener("click", () => Cancel('cancel3'));
            document.getElementById("Cancel_change4").addEventListener("click", () => Cancel('cancel4'));

            function Cancel(invoke) {
                Modal.style.visibility = 'hidden';
                console.log(invoke)
                console.log("hiding")
                if (invoke == "cancel1"){
                    Change.style.visibility = 'hidden';
                }else if (invoke == "cancel2"){
                    Change2.style.visibility = 'hidden';
                }else if (invoke == "cancel3"){
                    Change3.style.visibility = 'hidden';
                }else if (invoke == "cancel4"){
                    Change4.style.visibility = 'hidden';
                }else{

                }
            }


            const new_email = document.getElementById("Submit_new_email");
            const new_nick = document.getElementById('Submit_new_nick');


            new_email.addEventListener("click", () =>  sendNew('newEmail', document.getElementById('new_email').value));
            new_nick.addEventListener("click",  () =>  sendNew('newNick',   document.getElementById('new_nick').value));
            let emailRegEx = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            async function  sendNew(type, item){
                
            try{
                let response = await fetch('/alter', { 
                    method: "PUT",
                    headers: {'Content-type' : 'application/json'},
                    body: JSON.stringify({ [type]: item}) });
       
                if (response.ok){
                    let data = await response.json();
                    console.log(`data ${data.message}`);
                    if (data.message=="ok"){
                        document.getElementById("Email_Result").innerText = "Succesfuly changed, refresh";
                        document.getElementById("Email_Result").style.backgroundColor= "green";
                    }else{
                        document.getElementById("Email_Result").innerText = "Wrong email format or taken, refresh";
                        document.getElementById("Email_Result").style.backgroundColor= "red";
                    }
                }
           
                }catch(error){
                    console.log(`error occured ${error}`);
                }
            };

            const oldP =  document.getElementById("old_password");
            const newP=  document.getElementById("new_password");
            const confirmP=  document.getElementById("confirm_password");
            const submit_pasword = document.getElementById("Submit_new_password")

            newP.addEventListener('input',() =>{
                console.log(`${confirmP.value} ==? ${newP.value}`)
                if (confirmP.value === "" ||   newP.value===""){
                    document.getElementById("password_Result").innerText = ""
                    document.getElementById("password_Result").style.backgroundColor= "";
                    return
                }else{
                    console.log(`${confirmP.value} ==? ${newP.value}`)
                    if (confirmP.value != newP.value ){
                        submit_pasword.disabled= true
                        document.getElementById("password_Result").innerText = "new passwords does not match"
                        document.getElementById("password_Result").style.backgroundColor= "red";

                    }else{
                        submit_pasword.disabled= false
                        document.getElementById("password_Result").innerText = ""
                        document.getElementById("password_Result").style.backgroundColor= "";
                    }
                }

            });

       
            confirmP.addEventListener('input',() =>{
                console.log(`${confirmP.value} ==? ${newP.value}`)
                if (confirmP.value === "" ||    newP.value===""){
                    document.getElementById("password_Result").innerText = ""
                    document.getElementById("password_Result").style.backgroundColor= "";
                    return
                }else{
                    console.log(`${confirmP.value} ==? ${newP.value}`)
                    if (confirmP.value != newP.value ){
                        submit_pasword.disabled= true
                        document.getElementById("password_Result").innerText = "new passwords does not match"
                        document.getElementById("password_Result").style.backgroundColor= "red";

                    }else{
                        submit_pasword.disabled= false
                        document.getElementById("password_Result").innerText = ""
                        document.getElementById("password_Result").style.backgroundColor= "";
                    }
                }
                
            });

           

            submit_pasword.addEventListener("click", newPassword)
            
            
            async function newPassword(){
                try{
                    let response = await fetch('/alter', {
                        method: "PUT",
                        headers: {'Content-type' : 'application/json'}, 
                        body: JSON.stringify({
                            'oldPassword' : oldP.value,
                            'newPassword' : confirmP.value
                        })
                    });
                    let data = await response.json()
                        console.log(data.message)
                    if (data.message == "ok"){
                        document.getElementById("password_Result").innerText = "Password changed Succesfuly";
                        document.getElementById("password_Result").style.backgroundColor= "green";
                    }else if (data.message == "old_password"){
                        document.getElementById("password_Result").innerText = "new passwords does not match";
                        document.getElementById("password_Result").style.backgroundColor= "red";

                    }else{
                        document.getElementById("password_Result").innerText = "Something went wrong";
                        document.getElementById("password_Result").style.backgroundColor= "red";
                    }
                }catch(error){
                    console.log(`This error occured ${error}`);
                }
            }
                    
            document.getElementById("Submit_photo").addEventListener('click', uploadImg)
            
            async function uploadImg(){

                const fileInput = document.getElementById('fileInput');
                if (fileInput.files.length > 0){
                    const formData = new FormData();
                    formData.append('file', fileInput.files[0]);
                    console.log("posilam data")
                try{
                    console.log("posilam data daaal")
                    let response = await fetch('/alter',{
                        method: 'POST',
                        body: formData,

                        // content type is by default 'multipart/form-data'
                    })
                    data =  await response.json()

                    if (data.message == 'ok'){
                        document.getElementById("photo_Result").innerText = "Upload Succesfuly";
                        document.getElementById("photo_Result").style.backgroundColor= "green";
                        // TOdo handle more than 3 photos 
                    }else{
                        document.getElementById("photo_Result").innerText = "Something went wrong";
                        document.getElementById("photo_Result").style.backgroundColor= "red";
                    }

                }catch(error){
                    console.log(`This error occured ${error}`);
                }
            }else{
                document.getElementById("photo_Result").innerText = "Something went wrong";
                document.getElementById("photo_Result").style.backgroundColor= "red";
            }
            }
        
            window.addEventListener('load', loadAvatar)
            async function loadAvatar() {
                try{
                    let response = await fetch('/avatar',{
                        method: "GET",
                        headers: {'Content-type' : 'application/json'}, 
                    })
                    data = await response.json();
                    console.log(data.current_avatar);
                    if (data.current_avatar ==="default"){
                        document.getElementById("avatar").src = 'static/images/default.png';
                    }else{
                        console.log(data.current_avatar)
                        console.log( "{{ url_for('static', filename='', _external=True) }}" + data.current_avatar)
                        document.getElementById("avatar").src = "{{ url_for('static', filename='images/', _external=True) }}" + data.current_avatar;
                      
                    }
                }catch(error){
                    console.log(`Error ${error}`);
                }
            }
            
            document.getElementById("showImages").style.visibility= "hidden";
            document.getElementById("Uploaded_photo").addEventListener('click', showUploaded);
            
            function displayImagesDyn(){

                Change.style.visibility = 'hidden';
                Change2.style.visibility = 'hidden';
                Change3.style.visibility = 'hidden';
                Change4.style.visibility = 'hidden';
                const container = document.getElementById("showImages_grid");

                while (container.firstChild) {
                    container.removeChild(container.firstChild);
                }
                document.getElementById("showImages").style.visibility= "visible";
                for (const key in data.data) {
                    console.log(data.data[key])
                    
                    const divElement = document.createElement('div')
                    const divElement1 = document.createElement('div')
                    const divElement2 = document.createElement('div')
                    const imageUrl = "{{ url_for('static', filename='', _external=True) }}" + data.data[key];
                    console.log(imageUrl)
                    const imgElement = document.createElement('img');
                    const delImgElement =  document.createElement('button');
                    const chooseImgElement =  document.createElement('button');
                    delImgElement.id = `delete_${data.data[key]}`
                    chooseImgElement.id = `choose_${data.data[key]}`
                    delImgElement.innerText = "delete"
                    chooseImgElement.innerText = "choose"
                    delImgElement.addEventListener('click',()=>{
                        console.log(`Deleting ${data.data[key]}`)
                        imgActions('delete',data.data[key])
                    })
                    chooseImgElement.addEventListener('click',()=>{
                        console.log(`Choosing ${data.data[key]}`)
                        imgActions('choose',data.data[key])
                    })
                    divElement1.appendChild(delImgElement)
                    divElement2.appendChild(chooseImgElement)
                    imgElement.src = imageUrl;
                    imgElement.alt = 'Image ' + key;
                    divElement.class = "grid-item"
                    divElement.appendChild(imgElement)
                    container.appendChild(divElement) 
                    container.appendChild(divElement1)
                    container.appendChild(divElement2)    

                    

                }
            }
            async function showUploaded(){
                try{
                    let response = await fetch('/avatar',{
                        method: "PUT",
                        headers: {'Content-type' : 'application/json'}, 
                        body: JSON.stringify({"get" : "user_data"})
                    })

                    data = await response.json();
                    displayImagesDyn(data)
                }catch(error){
                    console.log(`error ${error}`)
                }
            }

            document.getElementById("show_images_close").addEventListener('click', ()=> {
                document.getElementById("showImages").style.visibility= "hidden";
                Modal.style.visibility = 'hidden';
            });
       
            async function imgActions(action, item){
                console.log(action, item)
                if (action == "choose"){
                    try{
                        let response = await fetch('/alter_img',{
                        method:"PUT",
                        headers: {'Content-type' : 'application/json'}, 
                        body: JSON.stringify({"user_avatar" : item})
                    });
                    
                    location.reload();
                    }catch(error){
                        console.log(`error ${error}`)
                    }
                }else{
                    try{
                        let response = await fetch('/alter_img',{
                            method:"delete",
                            headers: {'Content-type' : 'application/json'}, 
                            body: JSON.stringify({"delete_image" : item})
                        });
                        location.reload();
                    }catch(error){
                        console.log(`error ${error}`);
                    }
                }
            }
            /* Part for inserting movies */

            
            const MovieAdd_panel = document.getElementById('addMovie_panel');
            MovieAdd_panel.style.visibility = "hidden";
            document.getElementById('addMovie').addEventListener('click', ()=>{
                if(MovieAdd_panel.style.visibility == 'visible'){
                    MovieAdd_panel.style.visibility ="hidden";
                }else{
                    MovieAdd_panel.style.visibility = 'visible';
                }

                if (Settings_panel.style.visibility == 'visible'){
                    Settings_panel.style.visibility = 'hidden';
                }


            });

            const cancel_movieAdd_panel =  document.getElementById('cancel_addMovie_panel');
            cancel_movieAdd_panel.addEventListener('click', ()=>{
                MovieAdd_panel.style.visibility = "hidden";
            });
          

            document.getElementById('insert_new_movie').addEventListener('click', sendMovie_check);
            const Error_movie_span = document.getElementById('adding_movie_error');
            function sendMovie_check(){
                let movie_name = document.getElementById('movie_name').value
                let movie_year = document.getElementById('movie_year').value
                let movie_image = document.getElementById('movie_image').files[0];
                let movie_description = document.getElementById('movie_description').value
                console.log(`Description is ${movie_description}`)
                if ((movie_name == "")){
                    console.log("movie_name ", movie_name)
                    Error_movie_span.innerText = "Empty movie name";
                    Error_movie_span.style.backgroundColor = 'red';
                    return
                }else if( (!Number.isInteger(parseInt(movie_year, 10))) ||  (movie_year=="")){
                    console.log("is not integer ", movie_year)
                    Error_movie_span.innerText = "Empty movie year or not integer";
                    Error_movie_span.style.backgroundColor = 'red';
                    return
                }else{
                    console.log(`Fetching ${movie_year}`)
                    addMovieAPI(movie_name, movie_year, movie_image,movie_description)
                }
                Error_movie_span.innerText = "";
            }

              
            async function addMovieAPI(name, year, img, movie_description){
                console.log(`Description is ${movie_description}`)
                try{

                    let formData = new FormData();
                    formData.append('movie_name', name);
                    formData.append('movie_year', year);
                    formData.append('movie_image', img);
                    formData.append('movie_description',movie_description);
                    let response = await fetch('/add_movie',{
                        method: 'POST',
                        body: formData                            
                    });

                    data = await response.json(); 
                    if (data.message != "no"){
                        Error_movie_span.innerText = "Succes";
                        Error_movie_span.style.backgroungColor = 'green';
                            setTimeout( function(){
                                location.reload();
                            }, 1000);
                      
                    }else{
                        Error_movie_span.innerText = "Problem with adding movie";
                        Error_movie_span.style.backgroundColor = 'red';
                    }


                }catch(error){
                    console.log(`ERROR: ${error}`)
                }
            }

            window.addEventListener('load', movie);


            async function movie(){
                try{
                    let response = await fetch('/add_movie',{
                        method: "GET",
                        headers: {'Content-type' : 'application/json'}, 
                    })
                    data = await response.json();
                    showData(data)
                }catch(error){
                    console.log(`Error ${error}`);
                }
            }

            function showData(data){
                const mainDiv = document.getElementById('show_movies')
                for (const key in data){

                    console.log(`NAME: ${data[key]['movieName']}`)
                    console.log(`YEAR: ${data[key]['year']}`)
                    console.log(`desc: ${data[key]['description']}`)
                    console.log(`img: ${data[key]['movie_img']}`)
                    const divElement = document.createElement('div');
                    const divElement2 = document.createElement('div');
                    const divElement3 = document.createElement('div');
                    const divElement4 = document.createElement('div');
                    const innerMain = document.createElement('div');
                    const name = document.createElement('span');
                    const year = document.createElement('span');
                    const description = document.createElement('span');
                    const image = document.createElement('img');
                    const additionalText = document.createElement('div');

                    name.innerText = `Movie name: ${data[key]['movieName']}`;
                    year.innerText = `Release: ${data[key]['year']}`;
                   
                    image.id = 'movie';
                    image.src = `../static/movie_images/${data[key]['movie_img']}`;
                    additionalText.className = 'additional-text';
                    additionalText.innerText =data[key]['description'];
                    innerMain.className= "innerMain"
                    divElement2.appendChild(image);

                    divElement.className = 'movie_container';
                    divElement3.appendChild(name);
                    divElement4.appendChild(year);
               

                    divElement.appendChild(divElement3);
                    divElement.appendChild(divElement4);
                    

                    innerMain.appendChild(divElement2);
                    innerMain.appendChild(divElement);
                    innerMain.appendChild(additionalText);

                    mainDiv.appendChild(innerMain)
                }

            }

        });
    
</script>
</html>